.no-sidebar .content-container.size3of4 {
  width: 75%; }

.blog-entry .post-image img {
  width: 98.75%; }

.blog-sidebar .WidgetHolder ul {
  margin-left: 0; }
  .blog-sidebar .WidgetHolder ul li {
    list-style-type: none; }

ul.blogTagCloud {
  list-style-type: none;
  clear: both; }
  ul.blogTagCloud li {
    float: left;
    display: inline;
    padding-right: 8px; }
    ul.blogTagCloud li a span {
      float: left;
      line-height: 30px;
      text-align: center;
      padding: 0px; }
  ul.blogTagCloud .tagCount10 {
    font-size: 26pt; }
  ul.blogTagCloud .tagCount9 {
    font-size: 24pt; }
  ul.blogTagCloud .tagCount8 {
    font-size: 22pt; }
  ul.blogTagCloud .tagCount7 {
    font-size: 20pt; }
  ul.blogTagCloud .tagCount6 {
    font-size: 18pt; }
  ul.blogTagCloud .tagCount5 {
    font-size: 16pt; }
  ul.blogTagCloud .tagCount4 {
    font-size: 14pt; }
  ul.blogTagCloud .tagCount3 {
    font-size: 12pt; }
  ul.blogTagCloud .tagCount2 {
    font-size: 10pt; }
  ul.blogTagCloud .tagCount1 {
    font-size: 8pt; }
