.no-sidebar .content-container.size3of4 {
  width: 75%;
}

.blog-entry .post-image img {
  width: 98.75%;
}

.blog-sidebar .WidgetHolder ul {
  margin-left: 0;
}
.blog-sidebar .WidgetHolder ul li {
  list-style-type: none;
}
