/**
 * CMS Styles
**/
/**
 * Include Compass framework */
/*
 * Sprite maps & Icons */
/* line 48, blog-icon/*.png */
.blog-icon-sprite, .gridfield-icon .blog-icon-timer {
  background-image: url('../images/blog-icon-s0a5ab5f851.png');
  background-repeat: no-repeat;
}

/* line 84, ../../../../home/vagrant/.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.gridfield-icon .blog-icon-timer {
  background-position: 0 0;
}

/* line 18, ../scss/cms.scss */
#FeaturedImage .middleColumn {
  clear: none;
  float: left;
}

/* line 23, ../scss/cms.scss */
.blog-admin-sidebar {
  width: 280px !important;
  border-right: none;
  border-left: 1px solid #C0C0C2;
  height: 547px;
  position: fixed;
  right: 0;
}
/* line 31, ../scss/cms.scss */
.blog-admin-sidebar ~ .ss-tabset {
  width: 866px;
  float: left;
}
/* line 37, ../scss/cms.scss */
.blog-admin-sidebar.cms-content-tools .cms-panel-content {
  width: auto;
}
