/**
 * CMS Styles
**/

/**
 * Include Compass framework */
@import "compass";

/*
 * Sprite maps & Icons */
@import "compass/utilities/sprites/base";
@import "blog-icon/*.png";

.gridfield-icon {
	@include all-blog-icon-sprites;
}

#FeaturedImage .middleColumn {
	clear: none;
	float: left;
}

.blog-admin-sidebar {
	width: 280px;
	border-right: none;
	border-left: 1px solid #C0C0C2;
	position: absolute;
	right: 0px;
	bottom: 0px;
	height: 100%;

	.cms-panel-toggle a {
		text-align: left;
	}

	~ .blog-admin-outer {
		width: 100%;
		padding-right: 280px;
		position: absolute;
		height: 100%;
		overflow-y: hidden;
		overflow-x: hidden;
		box-sizing: border-box;

		> .ss-tabset {
			position: relative;
			overflow: auto;
			height: 100%;
			width: 100%;

			#Title {
				label {
					float: none;
				}
				.middleColumn, input {
					width: 100%;
					max-width:100%;
					margin-left: 0;
				}
			}
		}
	}

	.cms-content-view {
		> .field {
			+ .field {
				margin-top: 10px;
			}

			&.urlsegment {
				.preview {
					padding-top: 0;
					line-height: 25px;
				}

				.edit {
					float: right;
				}
			}

			&.datetime {
				> .middleColumn {
					> .date {
						width: 60%;
					}

					> .time {
						width: 36%;
						float:right;
					}

					.middleColumn, input {
						width: 100%;
					}
				}
			}
		}
	}

	&.collapsed {
		~ .blog-admin-outer {
			padding-right: 41px;
		}
	}

	&.cms-content-tools {
		.cms-panel-content {
			width: auto;
		}
	}
}