<phpunit bootstrap="framework/tests/bootstrap.php" colors="true">
    <testsuite name="blog">
        <directory>blog/tests</directory>
    </testsuite>

    <listeners>
        <listener class="SilverStripe\Dev\TestListener" />
    </listeners>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">blog/src/</directory>
            <exclude>
                <directory suffix=".php">blog/tests/</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
